:root {
    --cream-light: #FAF4E9;
    --cream: #FFF6E4;
    --pink: #FDABAB;
    --pink-light: #F3CBC5;
    --green-light: #BECCC0;
    --green: #AABDA0;
    --green-mid: #7E9278;
    --green-mid-dark: #5B695D;
    --green-dark: #435245;
    --red-dark: #B30000;
    --red: #E33B3B;
    --brown: #AE986F;
    --brown-dark: #96876C;
}

body{
    background-color: var(--cream-light);
    overflow-x: hidden;
    overflow-y: hidden;
}
.hills{
    width: 100vw;
    height: 80vh;
    top: 20vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.back-hill{
    position: absolute;
    width: 200%;
    height: 100%;
    left: -100vw;
    top: 20vh;
    border-radius: 50%;

    background: linear-gradient(180deg, #BECCC0 0%, #5F6660 100%);
    box-shadow: 3px 4px 10px 10px rgba(0, 0, 0, 0.25);
}

.mid-hill{
    position: absolute;
    width: 200%;
    height: 100%;
    right: -100vw;
    top: 40vh;
    border-radius: 50%;

    background: linear-gradient(180deg, #7E9278 0%, #5F6660 100%);
    box-shadow: 3px 4px 10px 10px rgba(0, 0, 0, 0.25);
}

.front-hill{
    position: absolute;
    width: 200%;
    height: 100%;
    left: -50vw;
    top: 60vh;
    border-radius: 50%;

    background: linear-gradient(180deg, #ADC8B1 0%, #67776A 28.85%);
    box-shadow: 3px 4px 10px 10px rgba(0, 0, 0, 0.25);

}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    max-height: 80vh;
    width: auto;
}