@import "tailwindcss";


@font-face {
  font-family: 'Margarine';
  src: url('/Margarine-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-margarine: "Margarine", sans-serif;
}